
snippet mheader
	/*! @file ${1:`vim_snippets#Filename()`}.h 
	 * @brief Header for the class $1
	 */
	#ifndef `vim_snippets#DefineHeaderFileGuard()`
	#define `vim_snippets#DefineHeaderFileGuard()`

	#include <iostream>
	/** @brief ${2:}
	 *
	 */
	class $1 {
	
	   private:

	   public:
	};

	#endif // `vim_snippets#DefineHeaderFileGuard()`
