bin/*
!bin/.dummy
obj/*
!obj/.dummy
# excluding the genareted doc files except the doc.config
doc/*
!doc/doc.config
# object files
**.o
# ignore swap files
**.swp
**.swo
**.swm
**.swl
**.swn
# ignore notice snippet
notice_c.txt
